h1{
    color: goldenrod;
}
body{
    text-align: center;
    background-color: rgb(2, 74, 2);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
p{
    color: white;
    font-weight: bold;
}
button{
    border: none;
    background-color: rgba(red, green, blue, alpha);
    border-radius: 30px;
    height: 7vh;
    cursor: pointer;
    width: 8em;
}
button:hover{
    background-color: goldenrod;
    color: blue;
    font-weight: bold;
    font-size: large;
}