body{
    background-image : url("./Zupco1.jpg");
    
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(12, 12, 102);
}
#increment-btn{
    border: none;
    border-radius: 10px;
    height: 7vh;
    width: 180px;
    background-color: goldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
    color: blueviolet;
    margin-bottom: 5px;
    cursor: pointer;
}
#increment-btn:hover{
    background-color: whitesmoke;
}
#save-el{
    font-weight: bold;
}
#save-btn{
    border: none;
    border-radius: 10px;
    height: 7vh;
    width: 180px;
    background-color: rgb(2, 70, 2);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin-bottom: 5px;
    cursor: pointer;
}
#save-btn:hover{
    background-color: brown;
}



h1{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2{
    font-weight: bold;
    font-size: 50px;
    padding: 10px;
}