body{
    background:#fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    margin: auto 0;
    text-align: center;
}
img{
    width: 250px;
    display: block;
    border-radius:  100px 100px 0;
    margin: 0 auto ;
}
p{
    font-weight: 600;
    margin-bottom: 5px;
}
button{
    background: green;
    color: gold;
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
        margin-top: 10px;
        border: 1px solid black;padding: 10px 16px;font-weight: bold;
        cursor: pointer;
        border-radius: 20px;
        width: 20%;
}

button:hover{
    background-color: rgb(29, 29, 0);
}
#underline{
    font-weight: lighter;
    color: rgb(213, 156, 13);
    
}
span{
    color:green
}
#error{
    color: red;
    font-weight: 200;
}

